:root {
    --bg-color: #ffffff;
    --surface-color: #f8fafc;
    --btn-bgcolor: #155dfb;
    --primary-color: #000000;
    --color-faded: #343434;
}

html[data-theme="dark"] {
    --bg-color: #0f0f0f;
    --surface-color: #1c1d1e;
    --btn-bgcolor: #155dfb;
    --primary-color: #ffffff;
    --color-faded: #e7e5e5;
}

body {
    font-family: sans-serif;
    background-color: var(--surface-color);
    color: var(--primary-color);
}


header {
    justify-items: center;
    border-bottom: 0.8px solid gray;
    background-color: var(--bg-color);
    color: var(--primary-color);
    position: fixed;
    margin-left: -8px;
    top: 0;
    width: 100%;
}

.main-head {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 20px 0px;

}


.app-name {
    display: inline-flex;
    font-size: 28px;
    font-weight: bold;
}

.name-logo img {
    margin-top: -14px;
}

.head-nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}


.head-nav a {
    text-decoration: none;
    color: var(--color-faded);
}

.bi-plus-circle {
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--btn-bgcolor);
}


.carousal input {
    display: none;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.6s ease;
}


.slides {
    width: 900px;
    height: 550px;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}

#img1:checked~.slides .slide {
    transform: translate(0%);
}

#img2:checked~.slides .slide {
    transform: translate(-100%);
}

#img3:checked~.slides .slide {
    transform: translate(-200%);
}

#img4:checked~.slides .slide {
    transform: translate(-300%);
}

#img5:checked~.slides .slide {
    transform: translate(-400%);
}

#img6:checked~.slides .slide {
    transform: translate(-500%);
}

#img7:checked~.slides .slide {
    transform: translate(-600%);
}

.slide-controls {
    margin-left: 420px;
    margin-top: 15px;
}



.s1 {
    background: url("../assets/images/house1/property_home.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

}

.s2 {
    background: url("../assets/images/house1/property1.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

}

.s3 {
    background: url("../assets/images/house1/property2.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

}

.s4 {
    background: url("../assets/images/house1/property3.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.s5 {
    background: url("../assets/images/house1/property4.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.s6 {
    background: url("../assets/images/house1/property5.jpg");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.s7 {
    background: url("../assets/images/house1/property6.webp");
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.slide-controls label {
    display: inline-block;
    padding: 6px;
    background-color: #d8cccc;
    border-radius: 10px;

}

#img1:checked~.slide-controls label[for="img1"],
#img2:checked~.slide-controls label[for="img2"],
#img3:checked~.slide-controls label[for="img3"],
#img4:checked~.slide-controls label[for="img4"],
#img5:checked~.slide-controls label[for="img5"],
#img6:checked~.slide-controls label[for="img6"],
#img7:checked~.slide-controls label[for="img7"] {
    background-color: #786b6b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-info {
    width: 1350px;
    display: flex;
    column-gap: 40px;
    margin-top: 100px;
}



aside {
    background-color: #ffffff;
    width: 500px;
    height: 590px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.card {
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 20px;
}

.card-like-option {
    display: flex;
    justify-content: space-between;
}

.card-like-option > div:first-child > span {
    font-size: 12px;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 20px;
    background-color: #edf0f3;
    color: green;
}

.bi-share-fill,
.bi-heart-fill {
    padding-left: 20px;
    color: gray;
}

.card-amount {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.card-desc {
    margin-top: 10px;
    font-size: 18px;
    color: gray;
    font-weight: 300;
}

.card-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat-value {
    font-size: 22px;
    font-weight: 600;
    padding: 4px;
}

.stat-label {
    font-weight: 300;
    font-size: 14px;
    color: gray;
}


.card-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 0px;
    border-bottom: 1px solid #e7e3e3;
}


.card-buttons button {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

.agent-btn {
    color: #fff;
    background-color: #299bec;
    border: none;
}

.agent-btn:active {
    background-color: #118fe9;
}

.tour-btn {
    color: #299bec;
    background-color: #fff;
    border: 2px solid #299bec;
}


.agent img {
    border-radius: 60px;
}

.agent-name {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 10px;
}

.card-footer {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    align-items: center;
    padding-left: 10px;
}